.Station__block{
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255,255,255,0.3);
    color:#282C62;
}

.Station__img{
    object-fit: cover;
    width: 100%;
    height: 20vw;
}

#return__btn{
    font-family: Manrope-Medium;
    background-color:#F9BA51;
    border: 1px solid #282C62;
    min-width: 180px;
    min-height: 50px;
    margin-top: 20px;
}
