.hidden {
	display: none;
}

.Station__block{
    padding: 2vw;
    width: 65vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255,0.3);
    min-height: 93vh;
    color:#312862;
}

.Station__img{
    object-fit: cover;
    max-height: 80vh;
}

.station__h1{
    margin-top: 1vh;
}

.station__h2{
    margin-top: 4vh;
    margin-bottom: 1vh;
}

#return__btn{
    background-color:#F9BA51;
    border: 1px solid #282C62;
    min-width: 180px;
    min-height: 50px;
    margin-top: 20px;
}

#return__btn__p{
    font-family: Manrope-Bold;
    color:  #282C62;
}

@media (max-width: 1024px) {
.Station__block{
    padding: 2vw;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255,0.3);
    min-height: 95vh;
    color:#44357e;
}
.station__h2{
    margin-top: 1.5vh;
    margin-bottom: 0.1vh;
}

.Station__img{
    object-fit: cover;
    max-height: 60vh;
}
}

@media (max-width: 700px) {
.Station__img{
    object-fit: cover;
    height: 30vh;
}
.station__h1{
    font-size: 7vw;
}
.station__h2{
    font-size: 6vw;
    margin-top: 2vh;
    margin-bottom: 0.1vh;
}
}