body {
  padding-top: 10%;
  background-size: cover;
  height: 100vh;
  
}
.table-wrap {
    text-align: center;
    display: inline-block;
}
 
 table {
    background-color:#F9BA51;
    border: 1px solid #282C62;
    width: 60%;
    min-width: 280px;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }
 
  table tr {
    padding: 5px;
  }
 
  table th, table td {
    padding: 10px;
    text-align: center;
    border-right: 1px solid #282C62;
  }
 
  table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

@media (max-width: 600px) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }
  table td {
    display: block;
    text-align: right;
    font-size: 3vw;
    border-bottom: 1px dotted #ccc;
    border-right: 1px solid transparent;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}