.StationLink__block{
    margin: 15px 15px 30px;
    min-width: 200px;
    min-height: 100px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: #fff;
}

.nav-link__image{
    min-width: 150px;
    min-height: 100px;
    width: 90%;
    height: 150px;
    padding-top: 10px;
}

p{
    color:#282C62;
}