.StationLink__block{
    width: 15vw;
    min-height: 10vh;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: #fff;
}

.nav-link__image{
    width: 90%;
    height: 20vh;
    /* padding-top: 1vh; */
    object-fit: cover;
    border: 2px solid black;
}

.nav-link:hover{
     text-decoration:underline black;
}

#StationLink__p{
     font-family: Manrope-Bold;
    color:#44357e;
    font-size: 90%;
}

@media (max-width: 700px) {
    .StationLink__block{
    width: 90%;
}

.nav-link__image{
    display:none;
}
#StationLink__p{
    color:#282C62;
     font-size: 3.2vw;
}
}

@media (max-width: 1024px) {
.nav-link__image{
     height: 10vh;
}
}