.StationLink__block{
    margin-left: 20px;
    min-width: 200px;
    min-height: 100px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.nav-link__image{
    min-width: 150px;
    min-height: 100px;
    width: 200px;
    height: 150px;
}