header{
    /* background: #282C62; */
    background:#8B7ACC;
    width: 100%;
    height: 7vh;
    position: relative;
}

.header__content{
     padding: 1vh;
     display: flex;
     flex-flow: row;
     justify-content:space-between;
     font-size: 3.5vh;
     padding-right: 4vw;
}

a{
    color: #fff;
    color-adjust: #fff;
    text-decoration: none;
}

.logo-image{
    height: 5vh;
    margin-left: 2vw;
}

.modal-name{
    display: flex;
    align-items: center;
}

.modal-image{
    height: 15vh;
}

.modal__a{
    color: black;
}

.modal__a:hover{
    color: #282C62;
    text-decoration: underline;
}

@media screen and (max-width: 700px) {

.header__content{
    padding: 2vh;
    font-size: 2.2vh;
}
.logo-image{
   display: none;
   margin-left:0;
}
}

@media screen and (max-width: 1024px) {
.header__content{
    padding: 2vh;
    font-size: 2.2vh;
}
.logo-image{
    height: 4vh;
    margin-left: 2vw;
}
.modal-image{
    height: 10vh;
}
}