header{
    background: #282C62;
    width: 100%;
    height: 80px;
    position: relative;
}

.header__content{
     padding: 30px;
     display: flex;
     flex-flow: row ;
     justify-content: space-around;
     font-size: 20px;
}

a{
    color: #fff;
    color-adjust: #fff;
    text-decoration: none;
}

.logo-image{
    width: 40px;
    height: 40px;
}

@media (max-width: 800px) {
    header{
    background: #282C62;
    width: 100%;
    height: 60px;
    position: relative;
}

.header__content{
     padding: 25px;
     display: flex;
     flex-flow: row ;
     justify-content: space-around;
     font-size: 10px;
}

a{
    color: #fff;
    color-adjust: #fff;
    text-decoration: none;
}

.logo-image{
    width: 20px;
    height: 20px;
}
}