#sideBlock{
    height: 100%;
    width: 20vw;
    position: fixed; 
    z-index: 1; 
    left: 0;
    /* background: linear-gradient(180deg, #282C62, rgb(183,187,208, 0.1));
    color: #fff; */
    background: rgb(255, 253, 245);
    color:#282C62;
    text-align: center;
    overflow-x: hidden; 
}

#sideBlock__h1{
    font-size:20px;
    margin:10px;
}

.sideBlock__ul{
   padding:0;
   display:flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
}

.div__niceScroll{
    margin: 140px;
}

@media (max-width: 700px) {
#sideBlock__h1{
    font-size:2.5vw;
}
}
