@font-face {
  font-family: 'Montserrat-ExtraBoldItalic';
  src: local('Montserrat-ExtraBoldItalic'), url(./fonts/Montserrat-ExtraBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope-Bold';
  src: local('Manrope-Bold'), url(./fonts/Manrope-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope-Medium';
  src: local('Manrope-Medium'), url(./fonts/Manrope-Medium.ttf) format('truetype');
}

body, html {
    margin:0;
    padding:0;
    outline:none;
    background: rgb(183,187,208,0.5);
    min-width:100vw;
    min-height: 100vh;
}

.App{
    margin:0;
    padding:0;
    outline:none;
    width:100vw;
    min-height: 100vh;
    overflow: hidden;
}