.ModalButton{
     font-size: 3.5vh;
     color: #fff;
     font-family: Montserrat-ExtraBoldItalic;
     background: none;
     padding: 0;
     outline: none;
     border: none;
     cursor: pointer;
}

@media (max-width: 1024px) {
     .ModalButton{
     font-size: 2.2vh;
}
}