header{
    background: rgba(23, 23, 97, 0.67);
    width: 100;
    height: 80px;
    position: relative;
}

.header__content{
    padding: 30px;
     display: flex;
    flex-flow: row ;
    justify-content: space-around;
}