body, html {
margin:0;
padding:0;
outline:none
}

.mapContent{
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: stretch;
}
