body, html {
    margin:0;
    padding:0;
    outline:none;
    background: linear-gradient(180deg, #59A578, #BCCF00);
}



h1,h2,a{
    font-family: Montserrat-ExtraBoldItalic;
}

p{
    font-family: Manrope-Medium;
}